<div class="container">

  <div class="section-title show-title text-center wow fadeInDown">
    <h2><%= @listing.title %></h2>
  </div>

  <div class="listing-active-photo">
    <%= image_tag @listing.pic_1.url(:banner), class:"img-responsive center-block" %>

    <a href="<%= @listing.pic_1.url(:x_large) %>" title="<%= @listing.description %>" rel="portfolio" class="fancybox"><span class="plus"></span></a>
    <figcaption class="mask">
      <h5>Click to view images</h5>
    </figcaption>
  </div>

  <div class="clear-float"></div>


  <div class="text-center">
    <%= render "description", listing: @listing %>
  </div>

  <hr />

  <div class="row">
      <div id="listing-map" class="col-md-6">
        <%= render "map", listing: @listing %>
      </div>

      <div class="col-md-6" id="reservation-form-container">
        <%= render "reservations/form" %>
      </div>
  </div>

</div>
