<div class="container">
  <div class="section-title show-title text-center wow fadeInDown">
    <h2><%= @listing.title %></h2>
    <% if can? :manage, @listing %>
    <div class="listing-description text-center">
      <%= link_to "Edit", edit_listing_path(@listing) %>
      <%= link_to "Delete", listing_path(@listing), method: :delete,   data: {confirm: "Are you sure?"} %>
      <%= link_to "Reservations", listing_reservations_path(@listing) %>
    </div>
    <p>Address: <%= @listing.full_street_address %></p>
    <% end %>
  </div>
  <div class="listing-active-photo">
    <%= render "show_active_img" %>
  </div>

  <div class="clear-float"></div>
  <div class="text-center">
    <%= render "description", listing: @listing %>
  </div>

  <hr />

  <div class="row">
    <div id="listing-map" class="col-md-6 col-sm-12">
      <%= render "map", listing: @listing %>
    </div>
    <div class="col-md-6 col-sm-12" id="reservation-form-container">
      <%= render "reservations/form" %>
    </div>
  </div>

  <hr />
  <div class="container">
    <h3>Reviews</h3>
    <br />
    <p>This listing does not have any review.</p>
    <div class="white-form">

    </div>
  </div>



</div>
