<h4><%= link_to "reservation for #{reservation.listing.title}", listing_reservation_path(reservation.listing, reservation) %></h4>
<br />
<p>Status:<span class="label label-default"><%= reservation.aasm_state %></span></p>

<div class="container">
  <p>Checkin: <%= reservation.checkin_date %></p>
  <p>Checkout: <%= reservation.checkout_date %></p>
  <p>Reserved nights:<%= reservation.reserved_nights %></p>
  <h3>Total: $<%= reservation.total_price %></h3>

</div>

<p>Click to see detail for this listing: <%= link_to reservation.listing.title, listing_path(reservation.listing) %></p>
