<div class="container">
  <h4>RESERVATION ID:<%= reservation.displayed_id %>
    <% if reservation.aasm_state == "paid" %>
    <span class="label label-success"><%= reservation.aasm_state %></span>
    <% elsif reservation.aasm_state == "unpaid" %>
    <span class="label label-warning"><%= link_to "incomplete", new_reservation_payment_path(reservation.id) %></span>

    <span class="label label-warning"><%= link_to "cancel", cancel_reservation_path_path(reservation.listing.id, reservation.id), method: :post, data: {confirm: "Cancel this reservation?"} %></span>

    <% else %>
    <span class="label label-default"><%=reservation.aasm_state%></span>
    <% end %>
  </h4>
  <br />
  <p>Guest:<%= reservation.user.full_name %>(<%= reservation.user.email %>)</p>
  <br />
  <P>Address: <%= reservation.listing.full_street_address %></P>
  <br />
  <p>Checkin: <%= reservation.checkin_date %></p>
  <br />

  <p>Checkout: <%= reservation.checkout_date %></p>
  <br />

  <p>Reserved nights:<%= reservation.reserved_nights %></p>
  <br />

  <h3>Total: $<%= reservation.total_price %></h3>
  <br />

</div>

<p>Listing: <%= link_to reservation.listing.title, listing_path(reservation.listing) %></p>
