<div class="reservation-form ">
  <h3>Reserve this room</h3>
  <br />
  <%= form_for [@listing,@reservation] do |f| %>

  <div class="form-group">
    <%= label_tag "", "checkin date - checkout date", for:"reservation-range" %>
    <%= text_field_tag "daterange", "", id:"reservation-range", class: "datepicker form-control", placeholder: "checkin date - checkout date" %>
  </div>

  <%= f.hidden_field :checkin_date, id:"checkin-param" %>
  <%= f.hidden_field :checkout_date, id:"checkout-param" %>
  
  <%#= f.text_field :checkin_date, as: :datepicker, id:"checkin-date", class:"datepicker form-control", placeholder:"checkin-date" %>

  <%#= f.text_field :checkout_date, as: :datepicker, id:"checkout-date",class:"datepicker form-control", placeholder:"checkout-date"%>

  <div class="form-group" hidden="true">
    <%= f.select :rate_type,  ["#{@listing.daily_rate}/day", "#{@listing.monthly_rate}/monthly"] %>
  </div>

  <div class="form-group">
    <h2 id="reservation-price">Total Price:</h2>
    <h3 id="total"></h3>
  </div>



  <%= f.submit "Proceed", id:"proceed-to-payment-button", class: "btn btn-info"%>
  <% end %>
</div>
